<div class="container">
  <div class="background-image"></div>
  <nav class="navbar">
    <div class="navbar-brand">
      <a routerLink="/">Meridiano60</a>
    </div>
    <div class="navbar-links">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Inicio</a>
      <a routerLink="/servicios" routerLinkActive="active">Servicios</a>
      <a routerLink="/acerca-de" routerLinkActive="active">Acerca de</a>
      <a routerLink="/privacidad" routerLinkActive="active">Política de Privacidad</a>
      <a routerLink="/terminos" routerLinkActive="active">Términos y Condiciones</a>
    </div>
    <div class="social-icons">
      <a href="https://twitter.com/meridiano60" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://facebook.com/meridiano60" target="_blank">
        <i class="fab fa-facebook"></i>
      </a>
    </div>
  </nav>

  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>

  <footer>
    <div class="footer-links">
      <a routerLink="/">Inicio</a>
      <a routerLink="/servicios">Servicios</a>
      <a routerLink="/acerca-de">Acerca de</a>
      <a routerLink="/privacidad">Política de Privacidad</a>
      <a routerLink="/terminos">Términos y Condiciones</a>
    </div>
    <div class="social-icons">
      <a href="https://twitter.com/meridiano60" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://facebook.com/meridiano60" target="_blank">
        <i class="fab fa-facebook"></i>
      </a>
    </div>
    <div class="copyright">
      © 2025 Meridiano60. Todos los derechos reservados.
    </div>
  </footer>
</div>